Django==6.0.7
djangorestframework==3.17.1
django-cors-headers==4.9.0
djangorestframework-simplejwt==5.5.1
whitenoise==6.12.0
python-decouple==3.8
python-dotenv==1.2.2
psycopg==3.3.4
redis==8.0.1
celery==5.6.3
django-celery-beat==2.9.0
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.3
aiogram==3.30.0
aiohttp==3.14.3
Pillow==12.3.0
gunicorn==26.0.0
uvicorn==0.51.0
django-daisy==2.0.11
pytz==2026.2
requests==2.34.2
